body {
    margin: 0;
    padding: 0;
    font-family: 'Bellota Text', Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

.navbar {
    display: flex;
    height: 75px;
    width: 100%;
    position: fixed;
    top: 1;
    background-color: white;
}

.modelo1,
.modelo2 {
    display: flex;
    cursor: pointer;
}

.linha {
    height: 1px;
    width: 100%;
    background-color: black;
    position: fixed;
    margin-top: 75px;
}

a {
    font-weight: 800;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

/*-------------------------------------*/

.logo {
    display: flex;
    align-items: center;
}

.caminho {
    padding-left: 10vw;
    padding-right: 10vw;
}

.logoA {
    font-size: 40px;
}

.itens {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: space-between;
    margin-right: 10vw;
}

/*-------------------------------------*/

.parte2,
.parte3 {
    padding-top: 70px;
    height: 47vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parte1{
    padding-top: 150px;
    height: 47vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parte3 img{
    height: 12vw;
    width: 32vw;
    margin-right: 4vw;
}

.parte11,
.parte22 {
    text-align: center;
    font-family: 'Roboto';
    align-items: center;
    width: 50vw;
    margin-right: 5vw;
    font-size: 15px;
    letter-spacing: 2px;
    line-height: 35px;
}

.linha2 {
    height: 75%;
    width: 1px;
    background-color: black;
    justify-self: flex-end;
    margin-right: 4vw;
}

.imgp2,
.imgp3,
.imgp4 {
    height: 16vw;
    width: 32vw;
    margin-right: 4vw;
}

/*-------------------------------------*/

.jogo {
    padding-top: 90px;
}

.tela {
    height: 40vw;
    border: 1px black solid;
    width: 97%;
    margin-left: 25px;
}

/*-------------------------------------*/

.partejogavel {
    display: flex;
    align-items: center;
    flex: 1;
}

.teladica {
    width: 15vw;
    border-radius: 10px;
    border: 1px black solid;
    margin: 20px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.inputenviar {
    width: 70%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.btnenviar {
    background-color: white;
    border: 1px black solid;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.tela {
    display: flex;
    justify-content: space-between;
    display: none;
}

.dicas {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 25px;
}

.Denigmas {
    width: 97%;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

.trocailha {
    height: 10vw;
    width: 25vw;
}

.ilhaescolha {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.escolhas {
    display: flex;
}

.escolha1,
.escolha2 {
    height: 3.5vw;
    width: 25vw;
    border-radius: 10px;
    border: 1px black solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

.complemento {
    width: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.complemento p {
    margin: 0;
}

.textotroca {
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 4px;
    margin: 0;
    margin-bottom: 0;
    padding: 60px;
}

.telamapa {
    height: 5vw;
    width: 5vw;
    border-radius: 10px;
    border: 1px black solid;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.resto {
    height: 250px;
}

.Rodape {
    border-top: 1px black solid;
    width: 100%;
    background-color: rgb(238, 171, 47);
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.Aluno img {
    height: 30vh;
    width: 30vh;
    border: 1px black solid;
}

.Aluno {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Aluno p {
    align-items: center;
}

.cfTexto {
    width: 98vw;
    display: flex;
    font-family: 'Roboto';
    letter-spacing: 2px;
    font-size: 14px;
    line-height: 30px;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
}

.textocf {
    width: 50%;
}

.cfph {
    margin-right: 40px;
    margin-bottom: 50px;
    font-family: 'Roboto';
}

.cfTexto img {
    height: 40%;
    width: 40%;
}

.red {
    color: red;
    text-decoration: underline;
}

/* Tela do display none */


.dnone{
    height: 40vw;
    border: 1px black solid;
    width: 97%;
    margin-left: 25px; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.dnone{
    display: none;
}

.tela{
    display: none;
}
.dnone p{
    font-size: 30px;
}

.dnone img{
    height: 12vw;
    width: 32vw;
}